{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<h3>Sobre o CADSystem</h3>
<hr>
<p>CADSystem é um sistema básico que traz uma tela de cadastro, onde o usuário insere as informações requiridas e logo poderá listar e 
    editar suas informações. O objetivo desse mini projeto, foi implmentar um CRUD básico com o intuido de expandir o conhecimento utilizando 
    o módulo sequelize do NodeJS
</p>