<h3>Cadastrados</h3>
<hr>
{{#each usuario}}
        <h6>{{nome}}</h6>

        <a href="/usuarios/editarusuarios/{{id}}"<button type="submit" class="btn btn-success">Editar</button></a>
        <a href="/usuarios/deletar/{{id}}"<button type="submit" class="btn btn-danger">Deletar</button></a>
        <hr>
    {{else}}
    <h4>Nenhum usuário cadastrado!</h4>    
{{/each}}